/node_modules
/public/hot
/public/sitemap.xml
/public/storage
/public/robots.txt
/storage/*.key
/vendor
.db/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store
front/
storage/debugbar/
.log
.env
/.htaccess
.history/
/storage/app/public
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
code-generator.json
/package-lock.json
/yarn.lock
/public/.well-known
/laravel-echo-server.json
/laravel-echo-server.lock
.user.ini
/.vscode