@import url(https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap);
:root {
  --color-primary: #294a70;
  /* --color-primary-light: #49688e; */
  --color-primary-light: #3e5c7e;
  --color-primary-lighter: #546e8d;
  --color-secondary: #ffab1f;
  --color-secondary-light: #ffbc4c;
  --color-text-primary: #212529;
  --color-text-secondary: #495057;
}

body, header * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 300px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header a {
  text-decoration: none;
}

header li {
  list-style: none;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.875rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* SECTION 1 - CONTACTS */
.contacts {
  background-color: var(--color-primary);
}

.contacts__content {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.contacts__quick-email, .contacts__ul a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contacts__ul i {
  width: 32px;
  height: 32px;
  padding: 7px;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contacts__quick-email:hover {
  color: var(--color-secondary-light);
  text-shadow: 0px 2px 3px var(--color-secondary-light);
}

.contacts__ul i:hover {
  color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
  background-color: var(--color-primary-lighter);
  -webkit-box-shadow: 0px 0px 10px 0px var(--color-secondary-light);
          box-shadow: 0px 0px 10px 0px var(--color-secondary-light);
}

@media (max-width: 550px) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__quick-email {
    margin-bottom: 12px;
  }

  .contacts__content a {
    font-size: 0.875rem;
  }

  .contacts__ul i {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}
/* SECTION 2 - LOGO */
.logo {
  padding: 10px 20px;
}

.logo__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.logo__img {
  width: 150px;
  height: 150px;
}

.logo__main-header {
  font-family: "Merriweather", serif;
  color: var(--color-primary);
  font-size: 3rem;
}

.logo__university {
  font-family: "Merriweather", serif;
  font-weight: normal;
  color: var(--color-text-secondary);
  font-size: 1.125rem;
}

@media (max-width: 550px) {
  .logo {
    padding: 5px 5px;
  }

  .logo__figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }

  .logo__main-header {
    font-size: 1.625rem;
    text-align: center;
  }

  .logo__university {
    font-size: 1rem;
    text-align: center;
  }
}
/* SECTION 3 - NAVIGATION MENU */
/* global level */
.navigation-menu {
  background-color: var(--color-primary);
  border-top: 5px solid var(--color-secondary);
  border-bottom: 5px solid var(--color-secondary);
}

/* if (<a> next element === span.arrow) => a.parent */
.menu a.parent {
  padding-right: 35px;
}

/* first level */
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-primary);
}

.menu__list li {
  position: relative;
}

.menu__list > li {
  border-right: 1px solid #fff;
}

.menu__list > li:first-child {
  border-left: 1px solid #fff;
}

.menu__link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
}

.current-li {
  background-color: var(--color-secondary) !important;
}

.menu__link--nonclickable {
  pointer-events: none;
  cursor: default;
}

/* second level */
.sub-menu__list {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  min-width: 360px;
  max-height: 231px;
  overflow-y: scroll;
  padding-top: 5px;
}

.sub-menu__list > li {
  background-color: var(--color-primary);
  border-bottom: 1px solid #fff;
}

.sub-menu__link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
}

/* third level */
.sub-sub-menu__list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 180px;
}

.sub-sub-menu__list > li {
  background-color: var(--color-primary);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/* .sub-sub-menu__list > li:first-child {
   border-top: 1px solid #fff;
} */
.sub-sub-menu__link {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-size: 1rem;
}

/* arrows */
.arrow {
  position: absolute;
  right: 2px;
  top: 6px;
  padding: 8px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sub-menu__arrow {
  right: 12px;
}

/* arrows on mobile */
.arrow.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: var(--color-secondary);
}

.sub-menu__arrow.active {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* hovers */
/* if mouse => hovers work only for mouse */
body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}

body.mouse .menu__list li:hover {
  background-color: var(--color-secondary-light);
}

/* if touchscreen => display dropdown menu on arrow click event (toggle .open */
body.touch .sub-menu__list.open {
  display: block;
}

body.touch .sub-sub-menu__list.open {
  display: block;
}

/* adaptive menu */
.menu-burger {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding: 8px 18px;
  margin: 7px 0;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--color-primary);
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 7px 4px var(--color-primary-light);
          box-shadow: 0px 0px 7px 4px var(--color-primary-light);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-burger__text {
  border-left: 2px solid #fff;
  padding-left: 8px;
}

.fa-xmark {
  display: none;
}

.burger-active .fa-bars {
  display: none;
}

.burger-active .fa-xmark {
  display: inline-block;
}

.burger-active.menu-burger {
  background-color: var(--color-secondary);
  -webkit-box-shadow: 0px 0px 7px 0px var(--color-secondary-light);
          box-shadow: 0px 0px 7px 0px var(--color-secondary-light);
}

@media (max-width: 768px) {
  .navigation-menu {
    background-color: var(--color-primary);
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }

  .menu-burger {
    display: block;
  }

  .menu__list {
    display: none;
  }

  .menu__list.menu-active {
    display: block;
    position: absolute;
    top: 109%;
    width: 75%;
  }

  .sub-menu__list {
    max-height: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    background-color: var(--color-primary-light);
  }

  .sub-menu__arrow {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .sub-sub-menu__list {
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--color-primary-lighter);
  }

  .menu__list > li:first-child {
    border-left: none;
  }

  .menu__list > li {
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .sub-menu__list > li {
    background-color: var(--color-primary-light);
    border: none;
    border-bottom: 1px solid #fff;
  }

  .sub-menu__list > li:first-child {
    border-top: 1px solid #fff;
  }

  .sub-menu__list > li:last-child {
    border: none;
  }

  .sub-sub-menu__list > li {
    background-color: var(--color-primary-lighter);
    border: none;
    border-bottom: 1px solid #fff;
  }

  .sub-sub-menu__list > li:first-child {
    border-top: 1px solid #fff;
  }

  .sub-sub-menu__list > li:last-child {
    border: none;
  }

  .sub-menu__link {
    padding-left: 25px;
  }

  .sub-sub-menu__link {
    padding-left: 35px;
  }
}
/* Footer */
.footer {
  border-top: 5px solid var(--color-secondary);
  border-bottom: 5px solid var(--color-secondary);
  padding: 10px 0;
  background-color: var(--color-primary);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #fff;
  font-size: 1rem;
}

/* Faculty & Department*/
.faculty, .department, .rmv-news, .main-page {
  padding: 25px 10px;
}

.faculty__header, .department__header, .news__header, .main-page__header {
  text-align: center;
  font-family: "Merriweather", serif;
  margin-bottom: 30px;
}

.header__title--pre {
  color: var(--color-text-secondary);
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.header__title--main {
  color: var(--color-primary);
  font-size: 1.5rem;
}

/* Members */
.member {
  border-bottom: 3px solid var(--color-secondary);
  padding-bottom: 20px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.member__info {
  color: var(--color-text-primary);
}

.member__position {
  font-size: 1rem;
  margin: 0;
  font-style: italic;
}

.member__name {
  margin-top: 0;
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 5px;
}

.member__activity {
  font-size: 1.125rem;
  margin-bottom: 40px;
}

.member__email {
  font-size: 1rem;
  margin-bottom: 5px;
}

.member__phone {
  margin: 0;
}

.member__img {
  width: 200px;
  height: 280px;
  background-color: #546e8d;
}

@media (max-width: 768px) {
  .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .member__img {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .member__position, .member__name {
    text-align: center;
  }

  .member__activity {
    margin-bottom: 30px;
  }
}
/* News */
.news-item {
  padding-bottom: 25px;
  border-bottom: 3px solid var(--color-secondary);
}

.news-item__title {
  color: var(--color-primary-light);
  font-size: 1.25rem;
}

.news-item__full {
  text-decoration: none;
  color: inherit;
}

.news-item__date {
  margin-right: 15px;
  color: var(--color-text-secondary);
}

.fa-calendar-days {
  color: var(--color-secondary);
  margin-right: 5px;
}

.news-item__author {
  color: var(--color-text-secondary);
}

.fa-user-pen {
  color: var(--color-secondary);
  margin-right: 5px;
}

.news-item__short {
  font-size: 1rem;
}

.news-item__more {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  background-color: var(--color-primary-light);
  border-radius: 7px;
}

/* Main Page */
.info__title {
  color: var(--color-primary-light);
  font-size: 1.25rem;
}

.info__text {
  color: var(--color-text-primary);
  font-size: 1rem;
}

.info__departments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.info__department {
  text-decoration: none;
  color: #fff;
  background-color: var(--color-primary);
  padding: 15px;
  font-size: 1rem;
}

.info__department:hover {
  background-color: var(--color-secondary);
}

.rmv-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rmv-photo {
  width: 80%;
  height: 80%;
  border-radius: 100px;
}

/* CKEDITOR wrapper */
.ckeditor-wrapper h1, .ckeditor-wrapper h2, .ckeditor-wrapper h3, .ckeditor-wrapper h4, .ckeditor-wrapper h5, .ckeditor-wrapper h6 {
  color: var(--color-primary-light);
}
.ckeditor-wrapper p {
  color: var(--color-text-primary);
}
