@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
   --color-primary: #294a70;
   /* --color-primary-light: #49688e; */
   --color-primary-light: #3e5c7e;
   --color-primary-lighter: #546e8d;
   --color-secondary: #ffab1f; 
   --color-secondary-light: #ffbc4c; 
   --color-text-primary: #212529;
   --color-text-secondary: #495057;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

body {
   font-family: 'Merriweather Sans', sans-serif; 
   font-size: 0.875rem;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}



/* SECTION 1 - CONTACTS */
.contacts {
   background-color: var(--color-primary);
}

.contacts__content {
   padding: 5px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.contacts__ul {
   display: flex;
   justify-content: space-between;
   gap: 15px;
}

.contacts__quick-email, .contacts__ul a {
   color: #fff;
   transition: all 0.3s ease-in-out;
}

.contacts__ul i {
   width: 32px;
	height: 32px;
   padding: 7px;
   border: 1px solid #fff;
	display: flex;
	justify-content: center;
   align-items: center;
   transition: all 0.3s ease-in-out;
}

.contacts__quick-email:hover {
   color: var(--color-secondary-light);
   text-shadow: 0px 2px 3px var(--color-secondary-light);
}

.contacts__ul i:hover {
   color: var(--color-secondary-light);
   border-color: var(--color-secondary-light);
   background-color: var(--color-primary-lighter);
   box-shadow: 0px 0px 10px 0px var(--color-secondary-light);
}

@media (max-width: 550px) {
   .contacts__content {
      flex-direction: column;
      justify-content: center;
   }

   .contacts__quick-email {
      margin-bottom: 12px;
   }

   .contacts__content a {
      font-size: 0.875rem;
   }

   .contacts__ul i {
      width: 30px;
      height: 30px;
      padding: 5px;
   }
}





/* SECTION 2 - LOGO */

.logo {
   padding: 10px 20px;
}

.logo__figure {
   display: flex;
   gap: 15px;
}

.logo__img {
   width: 100px;
   height: 100px;
}

.logo__main-header {
   font-family: 'Merriweather', serif;
   color: var(--color-primary);
   font-size: 1.75rem;
}

.logo__university {
   font-family: 'Merriweather', serif;
   font-weight: normal;
   color: var(--color-text-secondary);
   font-size: 1.125rem;
}


@media (max-width: 550px) {
   .logo {
      padding: 5px 5px;
   }
   .logo__figure {
      flex-direction: column;
      align-items: center;
      gap: 5px;
   }
   .logo__main-header {
      font-size: 1.625rem;
      text-align: center;
   }
   .logo__university {
      font-size: 1rem;
      text-align: center;
   }   
}



/* SECTION 3 - NAVIGATION MENU */


/* global level */
.navigation-menu {
   background-color: var(--color-primary);
   border-top: 5px solid var(--color-secondary);
   border-bottom: 5px solid var(--color-secondary);
}

/* if (<a> next element === span.arrow) => a.parent */
.menu a.parent {
   padding-right: 35px;   
}


/* first level */
.menu__list { 
   display: flex;
   justify-content: center;
   background-color: var(--color-primary);
}

.menu__list li {
   position: relative;
}

.menu__list > li {
   border-right: 1px solid #fff;
}

.menu__list > li:first-child {
   border-left: 1px solid #fff;
}

.menu__link {
   display: inline-block;
   padding: 10px 15px;
   font-size: 1rem;
   color: #fff;
}



/* second level */
.sub-menu__list {
   display: none;
   position: absolute;
   top: 40px;
   left: 0;
   min-width: 360px;
   max-height: 240px;
   overflow: scroll;
   padding-top: 5px;
}

.sub-menu__list > li {
   background-color: var(--color-primary);
   border-bottom: 1px solid #fff;
}

.sub-menu__link {
   display: inline-block;
   padding: 10px 15px;
   font-size: 1rem;
   color: #fff;
}


/* third level */
.sub-sub-menu__list {
   display: none;
   position: absolute;
   top: 0;
   left: 100%;
   min-width: 180px ;
}

.sub-sub-menu__list > li {
   background-color: var(--color-primary);
   border-left: 1px solid #fff;
   border-bottom: 1px solid #fff;
}

/* .sub-sub-menu__list > li:first-child {
   border-top: 1px solid #fff;
} */


.sub-sub-menu__link {
   display: inline-block;
   padding: 10px 15px;
   color: #fff;
   font-size: 1rem;
}


/* arrows */
.arrow {
   position: absolute;
   right: 2px;
   top: 6px; 
   padding: 8px;
   color: #fff;
   transition: all 0.3s ease-in-out;
}

.sub-menu__arrow {
   right: 12px;
}

/* arrows on mobile */
.arrow.active {
   transform: rotate(-180deg);
   color: var(--color-secondary);
}

.sub-menu__arrow.active {
   transform: rotate(-90deg);
}


/* hovers */
/* if mouse => hovers work only for mouse */
body.mouse .menu__list > li:hover .sub-menu__list {
   display: block;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
   display: block;
}

body.mouse .menu__list li:hover {
   background-color: var(--color-secondary);
}

/* if touchscreen => display dropdown menu on arrow click event (toggle .open */
body.touch .sub-menu__list.open {
   display: block;
}

body.touch .sub-sub-menu__list.open {
   display: block;
}


/* adaptive menu */
.menu-burger {
   display: none;
   flex: 0 1 60%;
   padding: 8px 18px;
   margin: 7px 0;
   font-size: 1.50rem;
   color: #fff;
   background-color: var(--color-primary);
   border: 1px solid #fff;
   box-shadow: 0px 0px 7px 4px var(--color-primary-light);
   transition: all 0.3s ease-in-out;
}

.menu-burger__text {
   border-left: 2px solid #fff;
   padding-left: 8px;
}

.fa-xmark {
   display: none;
}

.burger-active .fa-bars {
   display: none;
}

.burger-active .fa-xmark {
   display: inline-block;
}

.burger-active.menu-burger {
   background-color: var(--color-secondary);
   box-shadow: 0px 0px 7px 0px var(--color-secondary-light);
}



@media (max-width:768px) {
   .navigation-menu {
      background-color: var(--color-primary);
   }  
   .menu {
      display: flex;
      justify-content: center;
      position: relative;
   }
   .menu-burger {
      display: block;
   }
   .menu__list {
      display: none;
   }
   .menu__list.menu-active {
      display: block;
      position: absolute;
      top: 109%;
      width: 75%;
   }

   .sub-menu__list {
      max-height: 100%;
      position: relative;
      left: 0;
      top: 0;
      padding: 0;
      background-color: var(--color-primary-light);
   }
   .sub-menu__arrow {
      transform: rotate(90deg);
   }

   .sub-sub-menu__list {
      position: relative;
      left: 0;
      top: 0;
      background-color: var(--color-primary-lighter);
   }


   .menu__list > li:first-child {
      border-left: none;
   }
   .menu__list > li {
      border-right: none;
      border-bottom: 1px solid #fff;
   }

   .sub-menu__list > li {
      background-color: var(--color-primary-light);
      border: none;
      border-bottom: 1px solid #fff;
   }
   .sub-menu__list > li:first-child {
      border-top: 1px solid #fff;
   }
   .sub-menu__list > li:last-child {
      border: none;
   }

   .sub-sub-menu__list > li {
      background-color: var(--color-primary-lighter);
      border: none;
      border-bottom: 1px solid #fff;
   }
   .sub-sub-menu__list > li:first-child {
      border-top: 1px solid #fff;
   }
   .sub-sub-menu__list > li:last-child {
      border: none;
   }

   .sub-menu__link {
      padding-left: 25px;
   }
   .sub-sub-menu__link {
      padding-left: 35px;
   }
}



/* Footer */
.footer {
   margin-top: 1000px;
   border-top: 5px solid var(--color-secondary);
   border-bottom: 5px solid var(--color-secondary);
   padding: 10px 0;
   background-color: var(--color-primary);
}

.footer__content {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer__text {
   color: #fff;
   font-size: 1rem;
}



/* Faculty */

.faculty {
   padding: 15px 10px;
}

.faculty__header {
   text-align: center;
   font-family: 'Merriweather', serif;
   margin-bottom: 30px;
}

.header__title--pre {
   color: var(--color-text-secondary);
   font-size: 1.125rem;   
   margin-bottom: 10px;
}

.header__title--main {
   color: var(--color-primary);
   font-size: 1.50rem;
}

/* Members */

.faculty__members {}

.member {
   border-bottom: 1px solid var(--color-text-primary);
   margin-bottom: 25px;
}

.member__img {
   width: 100px;
   height: 100px;
}

.member__info {
   font-size: 0.875rem;
   color: var(--color-text-primary);
}

.member__name {
   font-size: 1.125rem;
   margin-bottom: 5px;
}

.member__activity {
   margin-bottom: 20px;
}

.member__email {
   margin-bottom: 5px;
}

.member__phone {
   margin-bottom: 5px;
}





/* SECTION 2 - LOGO AND SEARCH */
/*
.logo-search {
   padding: 20px 20px;
}

.logo-search__content {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 10%;
}

.logo__figure {
   display: flex;
}

.logo__img {
   width: 100px;
   height: 100px;
   margin-right: 15px;
}

.logo__main-header {
   color: var(--color-primary);
   font-size: 2rem;
}

.logo__university {
   color: #666;
   font-size: 1.25rem;
   font-weight: normal;
}

.search__form {
   border: 1px solid rgba(102, 102, 102, 0.356);
   border-radius: 25px;
   display: flex;
   justify-content: space-between;
   flex: 0 1 50%;
}

.search__input {
   padding: 8px 15px;
   border: none;
   border-radius: inherit;
   font-size: 16px;
   font-style: italic;
}

.search__input:focus-visible {
   outline: none;
}

.search__btn {
   padding: 8px 35px;
   border: none;
   color: #fff;
   background-color: var(--color-primary);
   border-radius: inherit;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   font-size: 18px;
   transition: all 0.3s ease-in-out;
}

.search__btn:hover {
   color: var(--color-secondary);
}
*/



