.news-item {
   padding-bottom: 25px;
   border-bottom: 3px solid var(--color-secondary);
}

.news-item:only-child {
   border-bottom: none;
}

.news-item__title { 
   color: var(--color-primary-light);
   font-size: 1.25rem;
   margin-bottom: 10px;
}

.news-item__full {
   text-decoration: none;
   color: var(--color-primary);
   &:hover {
      color: var(--color-secondary-light);
      text-decoration: underline;
   }
}

.news-item__date {
   margin-right: 15px;
   color: var(--color-text-secondary);
}

.fa-calendar-days {
   color: var(--color-secondary);
   margin-right: 5px;
}

.news-item__author {
   color: var(--color-text-secondary);
}

.fa-user-pen {
   color: var(--color-secondary);
   margin-right: 5px;
}

.news-item__short {
   font-size: 1rem;
}

.news-item__more {
   color: #fff;
   text-decoration: none;
   padding: 8px;
   background-color: var(--color-primary-light);
   border-radius: 7px;
   &:hover {
      background-color: var(--color-secondary-light);
      box-shadow: 0px 0px 10px 0px var(--color-secondary-light);
   }
}

.news-item img {
   display: block;
   margin: 20px auto;
   width: 75%;
   border: 3px solid var(--color-primary-lighter);
   box-shadow: 0px 0px 7px 0px var(--color-primary-light);
}

iframe {
   display: block;
   margin: 20px auto;
   max-width: 100%;
   border: 3px solid var(--color-primary-lighter);
   box-shadow: 0px 0px 7px 0px var(--color-primary-light);
}