// Font
$mainFont                : 'Qanelas', sans-serif;

// Size

$desktopWidth            : 1680px;
$ipadWidth               : 768px;
$iphoneWidth             : 376px;

$gray: #f3f4f6;
$darkGray: #919193;
$violet: #2c287d;
$lightViolet: #5551A6;
$ultralightViolet: #8F8BE0;
$darkViolet: #1a184b;
$black: #191919;
$white: #ffffff;
$danger: #e93d;
