.footer {
   border-top: 5px solid var(--color-secondary);
   border-bottom: 5px solid var(--color-secondary);
   background-color: var(--color-primary);
}

.footer__content {
   text-align: center;
   color: #fff;
   font-size: 0.875rem;
   padding: 10px 10px;

   p {
      margin: 0px 0px 8px 0px;
   }

   a {
      color: inherit;
      &:hover {
         color: var(--color-secondary);
      }
   }
}



// sticky footer
html {
   height: 100%;
}

body {
   margin: 0;
   min-height: 100%;
   display: flex;
}

.index-page {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   min-width: 300px;
}

.main {
   flex-grow: 1;
}