// Global header styles
.header * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.header a {
   text-decoration: none;
}

.header li {
   list-style: none;
}



// Header section #1 - Quick mail and Contacts links 
.contacts {
   background-color: var(--color-primary);
}

.contacts__content {
   padding: 5px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.contacts__ul {
   display: flex;
   justify-content: space-between;
   gap: 15px;
}

.contacts__quick-email,
.contacts__ul a {
   color: #fff;
   transition: all 0.3s ease-in-out;
}

.contacts__ul i {
   width: 32px;
   height: 32px;
   padding: 7px;
   border: 1px solid #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s ease-in-out;
}

.contacts__quick-email:hover {
   color: var(--color-secondary-light);
   text-shadow: 0px 2px 3px var(--color-secondary-light);
}

.contacts__ul i:hover {
   color: var(--color-secondary-light);
   border-color: var(--color-secondary-light);
   background-color: var(--color-primary-lighter);
   box-shadow: 0px 0px 10px 0px var(--color-secondary-light);
}

@media (max-width: 550px) {
   .contacts__content {
      flex-direction: column;
      justify-content: center;
   }

   .contacts__quick-email {
      margin-bottom: 12px;
   }

   .contacts__content a {
      font-size: 0.875rem;
   }

   .contacts__ul i {
      width: 30px;
      height: 30px;
      padding: 5px;
   }
}





// Header section #2 - Logo and Title 
.logo {
   padding: 10px 20px;
}

.logo__figure {
   display: flex;
   gap: 15px;
}

.logo__img {
   width: 150px;
   height: 150px;
}

.logo__main-header {
   font-family: 'Merriweather', serif;
   color: var(--color-primary);
   font-size: 2.75rem;
}

.logo__university {
   font-family: 'Merriweather', serif;
   font-weight: normal;
   color: var(--color-text-secondary);
   font-size: 1.25rem;
}

@media (max-width:768px) {
   .logo__main-header {
      font-size: 2.5rem;
   }
   .logo__university {
      font-size: 1.125rem;
   }  
}

@media (max-width: 550px) {
   .logo {
      padding: 5px 5px;
   }
   .logo__figure {
      flex-direction: column;
      align-items: center;
      gap: 5px;
   }
   .logo__main-header {
      font-size: 2.25rem;
      text-align: center;
   }
   .logo__university {
      font-size: 1rem;
      text-align: center;
   }   
}





// Header section #3 - Navbar
// global navbar styles
.navigation-menu {
   background-color: var(--color-primary);
   border-top: 5px solid var(--color-secondary);
   border-bottom: 5px solid var(--color-secondary);
}

.menu__list li {
   position: relative;
}

.current-li {
   background-color: var(--color-secondary) !important;
}

// if (<a> next element === span.arrow) => a.parent 
.menu a.parent {
   padding-right: 35px;
}



// 1st level menu styles
.menu__list {
   display: flex;
   justify-content: center;
   background-color: var(--color-primary);
}

.menu__list>li {
   border-right: 1px solid #fff;
}

.menu__list>li:first-child {
   border-left: 1px solid #fff;
}

.menu__link {
   display: inline-block;
   padding: 10px 15px;
   font-size: 1rem;
   color: #fff;
}

.menu__link--nonclickable {
   pointer-events: none;
   cursor: default;
}



// 2nd level menu styles
.sub-menu__list {
   display: none;
   position: absolute;
   top: 40px;
   left: 0;
   min-width: 360px;
   max-height: 231px;
   overflow-y: scroll;
   padding-top: 5px;
}

.sub-menu__list>li {
   background-color: var(--color-primary);
   border-bottom: 1px solid #fff;
}

.sub-menu__link {
   display: inline-block;
   padding: 10px 15px;
   font-size: 1rem;
   color: #fff;
}



// 3rd level menu styles
.sub-sub-menu__list {
   display: none;
   position: absolute;
   top: 0;
   left: 100%;
   min-width: 180px;
}

.sub-sub-menu__list>li {
   background-color: var(--color-primary);
   border-left: 1px solid #fff;
   border-bottom: 1px solid #fff;
}

.sub-sub-menu__link {
   display: inline-block;
   padding: 10px 15px;
   color: #fff;
   font-size: 1rem;
}



// arrows styles
.arrow {
   position: absolute;
   right: 2px;
   top: 6px;
   padding: 8px;
   color: #fff;
   transition: all 0.3s ease-in-out;
}

.sub-menu__arrow {
   right: 12px;
}

// mobile arrows styles
.arrow.active {
   transform: rotate(-180deg);
   color: var(--color-secondary);
}

.sub-menu__arrow.active {
   transform: rotate(-90deg);
}



// hovers styles
// if mouse => hovers work only for mouse 
body.mouse .menu__list>li:hover .sub-menu__list {
   display: block;
}

body.mouse .sub-menu__list>li:hover .sub-sub-menu__list {
   display: block;
}

body.mouse .menu__list li:hover {
   background-color: var(--color-secondary-light);
}

// if touchscreen => display dropdown menu on arrow click event (toggle .open 
body.touch .sub-menu__list.open {
   display: block;
}

body.touch .sub-sub-menu__list.open {
   display: block;
}



// adaptive navbar
.menu-burger {
   display: none;
   flex: 0 1 60%;
   padding: 8px 18px;
   margin: 7px 0;
   font-size: 1.50rem;
   color: #fff;
   background-color: var(--color-primary);
   border: 1px solid #fff;
   box-shadow: 0px 0px 7px 4px var(--color-primary-light);
   transition: all 0.3s ease-in-out;
}

.menu-burger__text {
   border-left: 2px solid #fff;
   padding-left: 8px;
}

.fa-xmark {
   display: none;
}

.burger-active .fa-bars {
   display: none;
}

.burger-active .fa-xmark {
   display: inline-block;
}

.burger-active.menu-burger {
   background-color: var(--color-secondary);
   box-shadow: 0px 0px 7px 0px var(--color-secondary-light);
}



@media (max-width:768px) {
   .navigation-menu {
       background-color: var(--color-primary);
   }

   .menu {
       display: flex;
       justify-content: center;
       position: relative;
   }

   .menu-burger {
       display: block;
   }

   .menu__list {
       display: none;
   }

   .menu__list.menu-active {
       display: block;
       position: absolute;
       top: 109%;
       width: 75%;
   }

   .sub-menu__list {
       max-height: 100%;
       position: relative;
       left: 0;
       top: 0;
       padding: 0;
       background-color: var(--color-primary-light);
   }

   .sub-menu__arrow {
       transform: rotate(90deg);
   }

   .sub-sub-menu__list {
       position: relative;
       left: 0;
       top: 0;
       background-color: var(--color-primary-lighter);
   }


   .menu__list>li:first-child {
       border-left: none;
   }

   .menu__list>li {
       border-right: none;
       border-bottom: 1px solid #fff;
   }

   .sub-menu__list>li {
       background-color: var(--color-primary-light);
       border: none;
       border-bottom: 1px solid #fff;
   }

   .sub-menu__list>li:first-child {
       border-top: 1px solid #fff;
   }

   .sub-menu__list>li:last-child {
       border: none;
   }

   .sub-sub-menu__list>li {
       background-color: var(--color-primary-lighter);
       border: none;
       border-bottom: 1px solid #fff;
   }

   .sub-sub-menu__list>li:first-child {
       border-top: 1px solid #fff;
   }

   .sub-sub-menu__list>li:last-child {
       border: none;
   }

   .sub-menu__link {
       padding-left: 25px;
   }

   .sub-sub-menu__link {
       padding-left: 35px;
   }
}
